---
import Footer from "../components/Footer";
import Inner from "../components/Inner";
import Title from "../components/Title";
import {database} from '../service/db'



// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<main class="w-screen h-screen bg-[#3f3354] flex flex-col items-center justify-between">

			<Title />

			<Inner data={database}/>
			

			<Footer/>


		</main>
		

	</body>
</html>
