---
import Title from "./components/Title";
import Player from "./components/Player";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro + TailwindCSS</title>
	</head>

	<body>
		<main class="w-screen h-screen bg-[#0F0D13] flex flex-col items-center justify-start pt-4">

			<Title 
			title="Player de música" 
			description='Projeto com finalidade de treinar técnicas de frontend, uso do setState,useRef e componentização do React dentro do Astro'/>

			<Player client:only/>


		</main>
		

	</body>
</html>